boot.img filter=lfs diff=lfs merge=lfs -text
vendor_boot.img filter=lfs diff=lfs merge=lfs -text
bootRE/boot.elf filter=lfs diff=lfs merge=lfs -text
system/system/apex/com.google.android.art.apex filter=lfs diff=lfs merge=lfs -text
system/system/framework/framework-res.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/Duo/Duo.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/FacebookStub/FacebookStub.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/Instagram/Instagram.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/Messenger/Messenger.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/TikTok/TikTok.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/TikTokzhiliao/TikTokzhiliao.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/WPSOffice/WPSOffice.apk filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/WPSOffice/oat/arm64/WPSOffice.vdex filter=lfs diff=lfs merge=lfs -text
system/system/preloadapp/Welife/Welife.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/AiGallery/AiGallery.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/FaceID/FaceID.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/HealthLife/HealthLife.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/TranssionCamera/TranssionCamera.apk filter=lfs diff=lfs merge=lfs -text
system_ext/priv-app/ItelSettings/ItelSettings.apk filter=lfs diff=lfs merge=lfs -text
vendor/app/Manual/Manual.apk filter=lfs diff=lfs merge=lfs -text
vendor/etc/models/noahark/gesture/tsn_gesture filter=lfs diff=lfs merge=lfs -text
vendor/lib/libsprdfaceid.so filter=lfs diff=lfs merge=lfs -text
vendor/lib64/libsprdfaceid.so filter=lfs diff=lfs merge=lfs -text
product/app/Gmail2/Gmail2.apk filter=lfs diff=lfs merge=lfs -text
product/app/LatinImeGoogle/LatinImeGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/Maps/Maps.apk filter=lfs diff=lfs merge=lfs -text
product/app/Photos/Photos.apk filter=lfs diff=lfs merge=lfs -text
product/app/SpeechServicesByGoogle/SpeechServicesByGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/TrichromeLibrary/TrichromeLibrary.apk filter=lfs diff=lfs merge=lfs -text
product/app/WebViewGoogle/WebViewGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/XShare/XShare.apk filter=lfs diff=lfs merge=lfs -text
product/app/YouTube/YouTube.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/GmsCore/GmsCore.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Messages/Messages.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Phonesky/Phonesky.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Velvet/Velvet.apk filter=lfs diff=lfs merge=lfs -text
